<div class="col-md-10 user-container">
    <h2 style="margin: auto" appHighlight>Author Details</h2>
    <br>
    <button class="btn btn-success" (click)="addAuthor()">Add Author</button>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="hidden">Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let author of authors">
                <td class="hidden">{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td><button class="btn btn-danger" (click)="deleteAuthor(author)">Delete</button>
                    <button class="btn btn-success" (click)="editAuthor(author)"
                        style="margin-left: 20px;">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <app-authors-update [authorToUpdate]="authorToUpdate" [showComponent]="showUpdateComponent" (updatedAuthor)="updateAuthor($event)" (hideForm)="hideUpdateForm($event)" [hidden]="!showUpdateComponent"></app-authors-update>
</div>