<div class="modal-card" style="background-color: lightgrey; padding: 4px;">
    <p>Update Author</p>
    <div class="example-container">
        <form [formGroup]="authorForm">
            <mat-form-field appearance="fill">
                <mat-label>Id</mat-label>
                <input [readonly]=true formControlName="id" matInput type="text" class="example-right-align">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text" class="example-right-align">
            </mat-form-field>
            <br>
            <button mat-button color="warn" [disabled]="!authorForm.valid" type="submit" (click)="updateAuthor()">Update</button>
            <button (click)="close()">Close</button>
        </form>
    </div>
</div>