<div>
    <p>Create Client</p>
    <div class="example-container">
        <form [formGroup]="clientForm">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text" class="example-right-align">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="text" class="example-right-align">
            </mat-form-field>
            <br>
            <button mat-button color="warn" [disabled]="!clientForm.valid" type="submit"
                (click)="createClient()">Create</button>
        </form>
    </div>
</div>